*.css
*.scss
tsconfig.json
.next/*
*.md
package-lock.json
package.json
*.yml
.prettierrc
.eslintrc.json
.vscode/settings.json
.env.*
*.gitignore
.husky/**
*.npmrc
*.png
*.ico
.prettierignore
Dockerfile