html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--ax-bg-default);
  font-family: var(--ax-font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

a.link {
  color: var(--ax-text-neutral);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 2000;
}

nav {
  padding: var(--ax-space-16) var(--ax-space-8);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid var(--ax-border-neutral-subtle);
  position: relative;
  background-color: var(--ax-bg-raised);
  border-radius: var(--ax-radius-8);
  box-shadow: var(--ax-shadow-dialog);
  gap: var(--ax-space-8);
}

nav .logo {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.topHeader {
  margin-left: 20px;
}

/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
*/