html,
body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a.link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 2000;
}

.content {
  max-width: 70vw;
  margin: 0 auto;
}

nav {
  margin: 10px auto 80px;
  padding: 20px 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}

nav .logo {
  margin-right: auto;
}

/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
*/