html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--navds-semantic-color-canvas-background);

  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a.link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 2000;
}
.mainContainer {
  background-color: var(--navds-semantic-color-canvas-background);
}
.content {
  max-width: 85vw;
  margin: 0 auto;
  overflow: auto;
  background-color: var(--navds-semantic-color-canvas-background);
}

nav {
  margin: -20px 0px 40px 0px;
  padding: 20px 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}

nav .logo {
  margin-right: auto;
  margin-bottom: -17px;
  margin-left: 20px;
}

.topHeader {
  margin-left: 20px;
}

/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
*/