$row-background-even: transparent;
$row-background-odd: var(--ax-bg-neutral-soft);
$header-color: var(--ax-bg-raised);
$border-color-headers: var(--ax-border-neutral-subtle);
$border-color-grid: var(--ax-border-neutral-subtle);
$border-width: 1px;
$thick-border-width: 2px;
$sidebar-color: var(--ax-bg-default);
$sidebar-background-color: var(--ax-bg-accent-strong);
$list-item-padding: var(--ax-space-4);

$weekend: var(--ax-bg-info-soft);

.groupsClickable {
    display: block;
    height: 100%;
    width: 100%;
    pointer-events: auto;
    transition: background-color 0.2s ease;
    position: relative;
    padding: var(--ax-space-4);
    margin: calc(var(--ax-space-4) * -1);
    cursor: pointer;

    * {
        pointer-events: none;
        cursor: pointer;
    }
}

.groupsClickable:hover {
    background-color: var(--a-surface-action-subtle-hover, rgba(0, 103, 197, 0.1)) !important;
}


.sidebar-header-text {
    padding-top: var(--ax-space-24);
    margin: auto;
    font-weight: var(--ax-font-weight-bold);
    vertical-align: middle;
    text-align: center;
    font-size: var(--ax-font-size-heading-small);
    font-family: var(--ax-font-family);
    color: var(--ax-text-neutral);
}

.sidebar-text {
    display: flex;
    flex-direction: column;
    opacity: 1 !important;
    margin: 0;
}

.coverage-indicator {
    font-size: 9px;
    color: var(--ax-text-subtle);
    margin-top: 2px;
    line-height: 1.2;
}

.sidebar-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    opacity: 0.6;
    pointer-events: none;
}

.timeframe-btns {
    display: inline-flex;
    gap: var(--ax-space-4);
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 50;
}

.react-calendar-timeline {
  * {
    box-sizing: border-box;
  }

  .sticky {
    position: sticky;
    top: 0;
    z-index: 50;
  }

  .holiday{
    background-color: rgba(255, 0, 0, 0.20);
  }

  .rct-outer {
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }

  .rct-scroll {
    display: inline-block;
    white-space: normal; // was set to nowrap in .rct-outer
    vertical-align: top;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-touch-action: none;
    touch-action: none;
  }

  .rct-item {
    overflow: hidden;
    &:hover {
      z-index: 88;
    }

    .rct-item-content {
      position: sticky;
      position: -webkit-sticky;
      left: 0px;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
      border-radius: 2px;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 5px;
      text-overflow: ellipsis;
      font-size: 1px;
    }
  }

  .rct-sidebar {
    overflow: hidden;
    white-space: normal; // was set to nowrap in .rct-outer
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 18px;
    border-right: $border-width solid $border-color-headers;

    &.rct-sidebar-right {
      border-right: 0;
      border-left: $border-width solid $border-color-headers;
    }

    .rct-sidebar-row {
      padding: $list-item-padding;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: relative;
      margin: 0;
      border-bottom: $border-width solid $border-color-headers;
      cursor: pointer;
      min-height: 45px;
      display: flex;
      align-items: center;

      &.rct-sidebar-row-odd {
        background: $header-color;
      }
      &.rct-sidebar-row-even {
        background: $header-color;
      }
    }
  }

  // TODO: rename or remove once we make breaking change to rename vertical lines
  // to columns
  .rct-vertical-lines {
    .rct-vl {
      position: absolute;
      border-left: 1px solid $border-color-grid;
      z-index: 30;
      &.rct-vl-first {
        border-left-width: 2px;
      }
      &.rct-day-6,
      &.rct-day-0 {
        background: $weekend;
      }
    }
  }

  .rct-horizontal-lines {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;

    .rct-hl-even,
    .rct-hl-odd {
      border-bottom: $border-width solid $border-color-grid;
      box-sizing: border-box;
      z-index: 40;
    }
    .rct-hl-odd,
    .rct-hl-even {
      background: var(--ax-bg-default);
    }
  }

  .rct-cursor-line {
    position: absolute;
    width: 2px;

    z-index: 51;
  }

  .rct-dateHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-bottom: 0px solid $border-color-headers;
    cursor: default;
    margin: auto;
    font-size: var(--ax-font-size-medium);
    background-color: $header-color;
    border-left: 1px solid $border-color-headers;
    font-family: var(--ax-font-family);
    color: var(--ax-text-neutral);
    pointer-events: none;
  }

  .rct-dateHeader-primary {
    background-color: var(--ax-bg-neutral-moderate);
    border-bottom: 1px solid $border-color-headers;
    cursor: default;
    pointer-events: none;
    color: var(--ax-text-neutral);
    vertical-align: top;
    font-size: var(--ax-font-size-large);
    height: 100%;
    font-weight: var(--ax-font-weight-bold);
    font-family: var(--ax-font-family);
  }

  .rct-header-root {
    height: 80px;
    margin: auto;

    background: $header-color;
    border-bottom: 1px solid $border-color-headers;
  }

  .rct-calendar-header {
    margin: auto;
    height: 100%;

    border: 1px solid $border-color-headers;
  }
}
