$row-background-even: transparent;
$row-background-odd: rgba(0, 0, 0, 0.05);
$header-color: #e5e5e5;
$border-color-headers: #cfcfcf;
$border-color-grid: #e1e1e1;
$border-width: 1px;
$thick-border-width: 2px;
$sidebar-color: #ffffff;
$sidebar-background-color: #c52020;
$list-item-padding: 0 4px;

$weekend: rgba(254, 169, 149, 0.3);

.groupsClickable {
  width: 100%;
}

.groupsClickable:hover {
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 50;
}

.react-calendar-timeline {
  * {
    box-sizing: border-box;
  }

  .sticky {
    position: sticky;
    top: 0;
    z-index: 50;
  }

  .holiday{
    background-color: rgba(255, 0, 0, 0.20);
  }

  .rct-outer {
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }

  .rct-scroll {
    display: inline-block;
    white-space: normal; // was set to nowrap in .rct-outer
    vertical-align: top;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-touch-action: none;
    touch-action: none;
  }

  .rct-item {
    overflow: hidden;
    &:hover {
      z-index: 88;
    }

    .rct-item-content {
      position: sticky;
      position: -webkit-sticky;
      left: 0px;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
      border-radius: 2px;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 5px;
      text-overflow: ellipsis;
      font-size: 1px;
    }
  }

  .rct-sidebar {
    overflow: hidden;
    white-space: normal; // was set to nowrap in .rct-outer
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 18px;
    border-right: $border-width solid $border-color-headers;

    &.rct-sidebar-right {
      border-right: 0;
      border-left: $border-width solid $border-color-headers;
    }

    .rct-sidebar-row {
      padding: $list-item-padding;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      margin: 0;
      border-bottom: $border-width solid $border-color-headers;

      &.rct-sidebar-row-odd {
        background: $header-color;
      }
      &.rct-sidebar-row-even {
        background: $header-color;
      }
    }
  }

  // TODO: rename or remove once we make breaking change to rename vertical lines
  // to columns
  .rct-vertical-lines {
    .rct-vl {
      position: absolute;
      border-left: 1px solid $border-color-grid;
      z-index: 30;
      &.rct-vl-first {
        border-left-width: 2px;
      }
      &.rct-day-6,
      &.rct-day-0 {
        background: $weekend;
      }
    }
  }

  .rct-horizontal-lines {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;

    .rct-hl-even,
    .rct-hl-odd {
      border-bottom: $border-width solid $border-color-grid;
      box-sizing: border-box;
      z-index: 40;
    }
    .rct-hl-odd,
    .rct-hl-even {
      background: #ffffff;
    }
  }

  .rct-cursor-line {
    position: absolute;
    width: 2px;

    z-index: 51;
  }

  .rct-dateHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-bottom: 0px solid $border-color-headers;
    cursor: pointer;
    margin: auto;
    font-size: 15px;
    background-color: $header-color;
    border-left: 1px solid $border-color-headers;
  }

  .rct-dateHeader-primary {
    background-color: #d2d2d2;
    border-bottom: 1px solid $border-color-headers;
    color: #010101;
    vertical-align: top;
    font-size: 17px;
    height: 100%;
    font-weight: bold;
  }

  .rct-header-root {
    height: 80px;
    margin: auto;

    background: $header-color;
    border-bottom: 1px solid $border-color-headers;
  }

  .rct-calendar-header {
    margin: auto;
    height: 100%;

    border: 1px solid $border-color-headers;
  }
}
