.contentEndring {
  width: 60%;
  min-width: 600px;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.contentEndringBox {
  display: flex;
  align-items: center;
}

.contentDate {
  width: 200px;

}

.buttonConfirm {
  width: 380px;

}